# Entorno virtual
.venv/
__pycache__/
*.pyc

# Datos
data/processed/dataset.parquet
model.pkl 

# MLflow
mlruns/
mlflow.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env